---
---

@import "{{ site.theme }}";

table {
  width: auto;
  margin: 15px auto;
}

th {
  	border-bottom: 1px solid black;
}
th, td {
  padding: 5px 10px 5px 10px;
}
.right {
  text-align: right;
}

img {
  display: block;
  margin: 0 auto;
}

.note {
  font-size: small;
  font-style: italic;
}

.quote {
  margin-left: 40px;
}
